.Page {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #141e30;
  }
  
  .bg1 {
    position: relative;
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #141e30;
    background-image: url('../assets/bg1.webp');
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  }
  
  .divider1{
    border: 1px solid #ffbb00;
    width: 95vw;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .divider2{
    border: 1px solid white;
    width: 300px;
    margin-bottom: 20px;
  }

  h1{
    margin-bottom: 0px;
  }
  h2{
    margin-bottom: 100px;
  }

  .body{
    padding-left: 15vw;
    padding-right: 15vw;
  }

  #mainLogo {
    width: 35vw;
    transition: all 1s ease-in-out;
    margin-left: 20px;
  }
  
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  

  .typewriter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .text1 {
    margin-right: 20px;
    font-size: 6.5vw;
    color:  white;
    margin: 0;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out 1s forwards;
    transition: all 1s ease-in-out;
  }
  
  .text2 {
    margin-right: 20px;
    font-size: 1.8vw;
    color: white;
    margin: 0;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out 2s forwards;
    transition: all 1s ease-in-out;
  }

  
  @keyframes slideLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-100px); }
  }
  
  @keyframes slideRight {
    from { transform: translateX(0); }
    to { transform: translateX(100px); }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  







  /* Mdia */



  @media (max-width: 768px) {
  
    .text1 {
      font-size: 40px;
    }
  
    .text2 {
      font-size: 20px;
    }

    .body{
        padding-left: 30px;
        padding-right: 100px;
      }
  }
  