.footer {
  position: static ;
  border-top: 2px solid #ffbb00;
  width: 100vw;
  background-color: #141e30;
  margin-left: .7vw;
  margin-top: 10vh;
  color: #fff;
  bottom: 0;
  padding-top: 40px;
  height: 60px;
}

.footer-container {
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container p {
  margin: 0;
  font-size: 14px;
}

.footer-container a {
  color: #fff;
  margin-left: 4px;
  margin-right: 4px;
  text-decoration: none;
  font-weight: 600;
}

.footer-container a:hover {
  text-decoration: underline;
}
