.NavbarContainer {
  background-color: #141e30;
  position: fixed;
  width: 98vw;
  top: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #ffbb00;
  z-index: 20;
  }
  
  .NavbarLogo {
  user-select: none;
  font-size: 30px;
  margin-right: 20px;
  }
  
  .NavbarLinks {
  display: flex;
  }
  
  .NavbarLink {
    position: relative;
    color: white;
    margin-right: 20px;
    text-decoration: none;
    position: relative;
  }
  
  .NavbarLink::after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #ffbb00;
    transform: scaleX(0);
    transition: right 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.3s ease-in-out;
  }
  
  .NavbarLink:hover::after {
    transform: scaleX(1);
  }

  .NavbarLink:hover::before{
      right: 0;
  }
  
  
  .NavbarLink:hover {
    color: #ffbb00;
    transition: all .3s ease-in-out;
  }
  

  a {
  color: white;
  position: relative;
  text-decoration: none;
  font-size: 30px;
  z-index: 2;
  transition-duration: .4s;
  }
  
  a:hover {
  color: #ffbb00;
  transition-duration: .4s;
  }
  
  .menu-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 36px;
  outline: none;
  padding: 10px;
  display: none;
  }
  
  @media (max-width: 768px) {
  .NavbarLinks {
  display: none;
  }
  
  .menu-button {
  display: block;
  }
  }
  
  .menu-button:hover {
  color: #ffbb00;
  }
  
  .NavbarLogo:hover {
  color: white;
  }
  
  .menu-list {
  background-color: rgba(20, 30, 48, .88);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all .5s ease-in-out;
  display: none;
  z-index: 2;
  }

  .NavbarLogo {
    user-select: none;
    font-size: 25px;
    margin-right: 0px;
    }
  
  .menu-section {
  border-bottom: #ffbb00 1px solid;
  width: 100%;
  padding: 12px;
  padding: 30px;
  font-size: 42px;
  overflow: hidden;
  transition: background-position 0.3s ease-in-out;
  }

  .menu-section::before {
    content: '';
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 100%;
    height: 100%;
    width: 100%;
    margin-top: 0;
    padding: 0;
    background-color: #ffbb00;
    z-index: -1;
    transition: all 0.5s ease-in-out;
  }
  
  .menu-section:hover::before {
    left: 0;
  }

  
  @media (max-width: 768px) {
    .NavbarContainer{
      width: 96vw;
    }

  .menu-list {
  display: flex;
  width: 50%;
  height: 100%;
  margin-top: 60px;
  flex-direction: column;
  align-items: flex-start;
  }
  
  .NavbarContainer {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 20px;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #ffbb00;
    }

  a {
  color: white;
  position: relative;
  text-decoration: none;
  font-size: 62px;
  z-index: 2;
  transition-duration: .4s;
  }
  }
  
  .menu-list.open {
  position: fixed;
  top: 2px;
  background-color: rgba(20, 30, 48, .88);
  backdrop-filter: blur(10px);
  transform: translateX(0);
  transition-duration: .7s;
  }
  
  .menu-link {
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 28px;
  } 

  .menu-link:hover{
    color: white;
  }