.NavbarContainer {
  background-color: #141e30;
  position: fixed;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #ffbb00;
  z-index: 20;
  }
  
  .NavbarLogo {
  user-select: none;
  font-size: 30px;
  margin-right: 20px;
  }
  
  .NavbarLinks {
  display: flex;
  }
  


  a {
  color: white;
  position: relative;
  text-decoration: none;
  font-size: 30px;
  z-index: 2;
  transition-duration: .4s;
  }
  
  a:hover {
  color: #ffbb00;
  transition-duration: .4s;
  }
  
  .NavbarLink {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  }
  
  .menu-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 36px;
  outline: none;
  padding: 10px;
  display: none;
  }
  
  @media (max-width: 768px) {
  .NavbarLinks {
  display: none;
  }
  
  .menu-button {
  display: block;
  }
  }
  
  .menu-button:hover {
  color: #ffbb00;
  }
  
  .NavbarLogo:hover {
  color: white;
  }
  
  .menu-list {
  background-color: rgba(20, 30, 48, .88);
  height: 100%;
  position: fixed;
  right: 0;
  transform: translateX(100%);
  transition: all .5s ease-in-out;
  display: none;
  z-index: 2;
  }

  .NavbarLogo {
    user-select: none;
    font-size: 25px;
    margin-right: 0px;
    }
  
  .menu-section {
  border-bottom: #ffbb00 1px solid;
  width: 95%;
  margin-right: 12px;
  padding: 12px;
  margin-bottom: 2vw;
  }

  .menu-section:hover{
    background-color: #ffbb00;
  }
  
  @media (max-width: 768px) {
    .NavbarContainer{
      width: 96vw;
    }

  .menu-list {
  display: flex;
  width: 50%;
  height: 100%;
  margin-top: 60px;
  flex-direction: column;
  align-items: flex-start;
  }
  
  .NavbarContainer {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 20px;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #ffbb00;
    }

  a {
  color: white;
  position: relative;
  text-decoration: none;
  font-size: 52px;
  z-index: 2;
  transition-duration: .4s;
  }
  }
  
  .menu-list.open {
  margin-top: 60px;
  transform: translateX(0);
  transition-duration: .7s;
  }
  
  .menu-link {
  
  color: white;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 28px;
  } 

  .menu-link:hover{
    color: white;
  }