html {
  background:#141e30;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body{
  width: 100%;
  height: 100vh;
  margin: 0px;
}

.Page {
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.Footer {
  background-color: black;
  bottom: 0;
  padding: 1rem;
  position: fixed;
  text-align: center;
  width: 89%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: #1a1a1a 1px 1px 2px 2px;
  z-index: 2;
  border: 1px solid #ffbb00;
  border-bottom: none;
}

.Footer p {
  margin: 0;
  font-size: 0.8rem;
}

div{
  margin:0px;
}

::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background: #030a18;
}
::-webkit-scrollbar-thumb {
  background: rgb(160, 160, 160);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(97, 97, 97);
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent white transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent white transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: white transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: white transparent transparent transparent;
}

@media (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 0px;
      }

    .Footer{
        display: none;    
    }
}